@model IEnumerable<ContactModel>
@{
    ViewData["title"] = "Contact Info";
}
<h3>List Contacts</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Map</th>
            <th>Email</th>
            <th scope="col">Logo</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>#</td>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>@Html.Raw(@item.Map)</td>
                <td>@item.Email</td>
                <td><img src="/media/logo/@item.LogoImg" width="120" /></td>
                <td>@item.Phone</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Contact">Edit</a>

                </td>
            </tr>
        }

    </tbody>
</table>
