@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}
<h3>Order Details</h3>
@if (Model == null || !Model.Any())
{
    <p>Không có dữ liệu chi tiết đơn hàng để hiển thị.</p>
}
<a asp-action="Create" asp-controller="Category">Add Category</a>
<table class="table" id="detail_order">
    <thead>
        <tr>
            <th>Id</th>
            <th>Order Code</th>
            <th>Username</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>$@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>

            </tr>
        }

        <tr>
            <th colspan="5">Total:</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@total.ToString("#,##0 USD")</td>
            <td>Shipping Cost: @ViewBag.ShippingCost.ToString("#,##0 USD")</td>
            <td>
                @if (@ViewBag.Status != 3)
                {
                    <select class="form-control select-update-order">
                        @if(@ViewBag.Status == 0){
                            <option disabled value="1">Đơn hàng mới</option>
                            <option value="0">Đã xử lý</option>
                        }
                        else{
                            <option value="1">Đơn hàng mới</option>
                            <option value="0">Đã xử lý</option>
                        }
                    </select>
                }
            </td>
        </tr>
    </tbody>
</table>
@section Scripts{
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: ['excel', 'pdf', 'print']
                }
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();
                // alert(status);
                // alert(ordercode);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: {
                        status: status,
                        ordercode: ordercode
                    },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Cập nhật đơn hàng thành công.");
                        }
                        else{
                            Swal.fire("Cập nhật đơn hàng thất bại." + result.message);
                        }
                    }
                });
            });
        });
    </script>
}