@model ContactModel
<h3>Thông tin Liên hệ</h3>
<div class="row">
	<div class="col-sm-5 col-md-5">
		@Html.Raw(@Model.Map)
		@Html.Raw(@Model.Description)
	</div>
	<div class="col-sm-4">
		<div class="address" style="margin-left: 120px;">
			<h5 style="margin-left: 120px;"><b>Name: @Model.Name</b></h5>
			<h5 style="margin-left: 120px;">Email: @Model.Email</h5>
			<h5 style="margin-left: 120px;">Hotline: @Model.Phone</h5>
		</div>
	</div>
	<div class="col-md-4">
		<div style="margin-left: 200px;" class="fb-page" data-href="https://www.facebook.com/gearvnhcm" data-tabs="message" data-width="540" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gearvnhcm" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gearvnhcm">Gearvn</a></blockquote></div>
	</div>
</div>